language: cpp

os:
  - linux

compiler:
  - gcc
  - clang

before_install:
  # g++4.8.1
  - if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi
  - sudo add-apt-repository ppa:ubuntu-sdk-team/ppa -y
  - sudo apt-get update -qq
  - sudo apt-get install -y qtbase5-dev libqt5svg5-dev ccache qt5-default qttools5-dev-tools libqt5xmlpatterns5-dev
  - sudo apt-get install -y libqt5core5 libqt5gui5 libqt5printsupport5 libqt5svg5 libqt5widgets5 libqt5xml5 libqt5xmlpatterns5 xpdf

install:
  # g++4.8.1
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8"; fi

before_script:
  # QTestLib require GUI support for some tests
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - mkdir build
  - cd build
  - which qmake
  - uname -a
  - qmake --version
  - qmake ../Valentina.pro -r CONFIG+=no_ccache

script:
  - $CXX --version
  - make -j$(nproc)
  - DISPLAY=:99.0 make check

notifications:
   email:
     recipients:
        - dismine@gmail.com
        - susan.spencer@gmail.com
		- zhuravska19@gmail.com
     on_success: change
     on_failure: always
