image: dismine/docker-valentina
pipelines:
  default:
    - step:
        script:
          - echo "This script runs on all branches that don't have any specific pipeline assigned in 'branches'."
  branches:
    develop:
      - step:
          script:
            - cat /etc/*-release
            - uname -a
            - grep -i processor /proc/cpuinfo | wc -l
            - gcc --version
            - mkdir build
            - cd build
            - qmake --version
            - qmake ../Valentina.pro -r CONFIG+=noDebugSymbols CONFIG+=no_ccache CONFIG+=checkWarnings
            - make -j$(nproc)
            - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:"/opt/atlassian/bitbucketci/agent/build/build/src/libs/vpropertyexplorer/bin:/opt/atlassian/bitbucketci/agent/build/build/src/libs/qmuparser/bin"
            # QTestLib require GUI support for some tests
            - xvfb-run -a make check
